@use '../../abstracts/' as *;

.about-us {

    // About Us General Information ---------- //
    .about-us__info {
        width: 100%;
        height: 1100px;
        position: relative;
        display: flex;
        background-image: url(../../../dist/assets/img/home/about-gradiant.png);

        // @include breakpoint(Tablet-L){
        //    height: 1000px;
        // }

        // Front information ---- //
        .about-us__info-front {
            position: absolute;
            @include flex(column, center);
            padding: 0 3%;
            padding-top: 35vh;

            @include breakpoint(Tablet-L) {
                padding-top: 15vh
            }

            // Global Urban information //
            .global-urban__info {
                @include flex-between(row);
                gap: 30px;

                @include breakpoint(Tablet-L) {
                    @include flex-center;
                }

                .about__cont-img {
                    @include flexx(row, flex-start, flex-end);
                    width: 50%;

                    @include breakpoint(Tablet-L) {
                        display: none;
                    }

                    .img-bg {
                        width: 35vw;
                        height: 400px;
                        background: $dark-blue;

                        @include breakpoint(laptop-L) {
                            height: 350px;
                        }
                    }

                    img {
                        position: absolute;
                        width: 40vw;
                        min-width: 460px;
                        max-width: 700px;
                    }
                }

                .about__cont-info {
                    width: 50%;
                    color: white;
                    font-size: 20px;

                    @include breakpoint(Tablet-L) {
                        width: 90%;
                    }

                    h1 {
                        line-height: 1.3;
                        font-size: 70px;
                        margin: 0;

                        @include breakpoint(Tablet-L) {
                            font-size: 60px;
                        }
                    }
                }
            }

            // DVBE information //
            .dvbe__info {
                @include flex-center;
                margin-top: 100px;
                width: 80%;

                img {
                    width: 250px;

                    @include breakpoint(Tablet-L) {
                        display: none;
                    }
                }

                .dvbe__cont-info {
                    width: 70%;

                    @include breakpoint(Tablet-L) {
                        width: 100%;
                    }

                    h1 {
                        line-height: 1.0;
                        margin: 0;
                    }

                    h2 {
                        line-height: 1.9;
                        margin: 0;
                    }
                }
            }

        }
    }

    // --------------------------------------- //

    // About Us Team Section ---------------- //
    .about-us__team {
        width: 100%;
        background: $t2;
        @include flex(column, flex-start);


        .team__cont-title {
            width: 100%;
            height: 100px;
            background: $t2;
            @include flexx(row, flex-start, center);

            img {
                @include img-cover;
            }

            h2 {
                color: white;
                margin-left: 20px;
                position: absolute;
            }
        }



        // Team Slider ----------------- //
        .slider-automatic-container {
            height: 300px;
            width: 100%;

            .slider-automatic-container-slides {
                height: 100%;
                overflow-x: hidden;
                display: flex;
                flex-direction: row;
                transition: all 1s;

                .slider-automatic-container-slide {
                    height: 100%;
                    width: 25vw;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    .title-hover{
                        width: 100%;
                        height: 100%;
                        @include flexx(column, flex-end, center);
                        position: absolute;
                        padding-bottom: 10%;
                        transition: all 0.4s;
                        transform: translateY(100%);
                        
                        color: white;
                    }
                    .title-hover-hover{
                        transform:translateY(0%)
                    }
                }
                .slider-automatic-container-slide-mobile {
                    height: 100%;
                    width: 50vw;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                }

                #s-1 {
                    background-color: blue;
                }

                #s-2 {
                    background-color: orange;
                }

                #s-3 {
                    background-color: green;
                }

                #s-4 {
                    background-color: yellow;
                }

                #s-5 {
                    background-color: pink;
                }

                #s-6 {
                    background-color: brown;
                }

                #s-7 {
                    background-color: black;
                }
            }
        }
    }
    // ------------------------------------- //
}