@use '../../abstracts/' as *;


.contact-us {
    width: 100%;
    height: 100vh;
    z-index: 0;
    position: sticky;
    bottom: 0;
    overflow-y: scroll;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: 130%;
        object-fit: cover;
    }

    // @include breakpoint("Tablet-M") {
    //     height: 150%;
    // }
}

.container {
    position: absolute;
    width: 100%;
    height: 130%;
    padding: 3% 0;
    @include flex(column, center);

    // Succes Achived Needed Section --------- //
    .working {
        width: 90%;
        height: 60%;
        // @include flex(column, center);
        @include flex-between(row);
        gap: 5%;
        color: white;

        @include breakpoint("Tablet-L") {
            @include flex(column, center);
        }

        h1 {
            font-size: 70px;
            text-align: start;

            @include breakpoint("laptop-L"){
                font-size: 50px;
            }


            @include breakpoint("Tablet-L") {
                font-size: 40px;
                text-align: center;
            }

            @include breakpoint("Tablet-M") {
                font-size: 30px
            }
        }

        .working-container {
            @include flex-between(row);
            width: 50%;
            min-width: 700px;
            max-width: 1000px;
            gap: 2%;

            @include breakpoint("Tablet-M") {
                @include flexx(column, center, flex-start);
                min-width: 300px;
                gap: 25px;
            }

            .working-item {
                @include flex(column, center);
                gap: 20px;

                @include breakpoint("Tablet-M") {
                    @include flex-between(row);
                }

                img {
                    width: 150px;

                    @include breakpoint("Tablet-M") {
                        width: 50px;
                        height: 50px;
                    }
                }

                .info {
                    font-size: 25px;
                    text-align: center;

                    @include breakpoint("Tablet-M") {
                        text-align: start;
                    }
                }
            }
        }
    }


    .divider {
        width: 90%;
        height: 1px;
        background: rgba(255, 255, 255, 0.459);
    }


    // Contact Container ------------ //
    .container-bottom {
        width: 90%;
        height: 40%;
        @include flex-between(row);

        @include breakpoint("Tablet-M") {
            @include flex(column, flex-start);
        }


        // Form Container //
        .cont-form {
            width: 50%;
            height: 100%;
            padding: 1%;
            @include flexx(column, center, flex-start);
            color: white;

            @include breakpoint("Tablet-M") {
                width: 100%;
                @include flex(column, center);
            }

            form {
                width: 70%;
                @include flex(column, center);

                @include breakpoint("Tablet-M") {
                    width: 90%;
                    @include flex(column, center);
                }



                textarea {
                    width: 100%;
                    height: auto;
                    max-height: 300px;
                    background: none;
                    border: none;
                    border-bottom: solid white 1px;
                    outline: none;
                    resize: none;
                    color: white;
                    
                    &::placeholder{
                        color: rgba(255, 255, 255, 0.751);
                    }
                }

                .input {
                    margin-top: 3%;
                    padding: 1%;
                    width: 100%;
                    height: 50px;
                    border: none;
                    border: solid white 1px;
                    background: none;
                    outline: none;
                    color: white;
                    &::placeholder{
                        color: rgba(255, 255, 255, 0.751);
                    }
                }

                .submit {
                    margin-top: 3%;
                    border: solid white 1px;
                    background: none;
                    outline: none;
                    color: white;
                    padding: 1.2% 7%;
                    font-size: 20px;
                    transition: 0.2s;
                    align-self: flex-start;

                    @include breakpoint("Tablet-M") {
                        padding: 2% 15%;
                        align-self: center;
                    }

                    &:hover {
                        cursor: pointer;
                        /* From https://css.glass */
                        background: rgba(255, 255, 255, 0.21);

                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                        backdrop-filter: blur(11.8px);
                        -webkit-backdrop-filter: blur(11.8px);
                        border: 1px solid rgba(255, 255, 255, 0.3);
                    }
                }

            }

        }


        // Contact Information //
        .contact-information {
            width: 50%;
            height: 100%;
            @include flexx(column, center, flex-start);
            gap: 10%;
            padding: 0 5%;

            @include breakpoint("Tablet-M") {
                display: none
            }

            .contact-information__item {
                @include flex-center;
                gap: 5%;

                img {
                    width: 70px;
                    height: 70px;
                }

                .info {
                    color: white;
                    font-size: 20px;
                    white-space: nowrap;
                    width: 100%;

                    h2 {
                        line-height: 0.9;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
}


// Phone Icon Fixed on Bottom Right on Mobile //
.contact-mobile {
    width: 70px;
    height: 70px;
    bottom: 4%;
    right: 4%;
    border-radius: 100%;
    position: fixed;
    display: none;
    background: white;
    z-index: 9999;
    overflow: hidden;
    -webkit-box-shadow: -5px 1px 22px -7px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: -5px 1px 22px -7px rgba(0, 0, 0, 0.33);
    box-shadow: -5px 1px 22px -7px rgba(0, 0, 0, 0.33);

    @include breakpoint("Tablet-M") {
        @include flex-center;
    }

    img {
        width: 50%;
        height: 50%;
    }
}

.contact-mobile__pop-up {
    height: 100vh;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.479);
    z-index: 0;
    @include flex(column, flex-end);
    padding-bottom: 8vh;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    transition: all 0.3s;
    opacity: 0;

    .pop-up {
        width: 0%;
        height: 0px;
        background: white;
        border-radius: 9px;
        -webkit-box-shadow: -5px 1px 22px -7px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: -5px 1px 22px -7px rgba(0, 0, 0, 0.33);
        box-shadow: -5px 1px 22px -7px rgba(0, 0, 0, 0.33);
        transition: all 0.4s ease-in-out;
        opacity: 1;
        transform: translateY(80%) translateX(80%);
        @include flex-between(column);
        

        .call {
            width: 100%;
            @include flex-center;
            height: 50%;
            gap: 10px;
            cursor: pointer;
            img {
                width: 50px;
            }

            font-size: 25px;
        }

        a {
            .call {
                width: 100%;
                @include flex-center;
                height: 50%;
                gap: 10px;
                cursor: pointer;
                img {
                    width: 50px;
                }
    
                font-size: 25px;
            }
        }

        .divider {
            width: 80%;
            height: 0.5px;
            background: grey;
        }

        
    }
}

.pop-move {
    transform: translateY(0%) translateX(0%);
    opacity: 1;
}


.mobile-pop-up__show {
    z-index: 300;
    opacity: 1;
}


