@use '../../abstracts/' as *;


.contact-us {
    width: 100%;
    height: 100vh;
    z-index: 0;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // @include breakpoint("Tablet-M") {
    //     height: 150%;
    // }
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3% 0;
    @include flex(column, center);

    @include breakpoint("Phone-L") {
        @include flex-around(column);
        height: 90%;
    }

    // Succes Achived Needed Section --------- //
    .working {
        width: 90%;
        height: 50%;
        // @include flex(column, center);
        @include flex-between(row);
        gap: 5%;
        color: white;

        @include breakpoint("Tablet-L") {
            @include flex(column, center);
        }

        h1 {
            font-size: 70px;
            text-align: start;

            @include breakpoint("laptop-L") {
                font-size: 50px;
            }


            @include breakpoint("Tablet-L") {
                font-size: 40px;
                text-align: center;
            }

            @include breakpoint("Tablet-M") {
                font-size: 30px
            }
        }

        .working-container {
            @include flex-between(row);
            width: 50%;
            min-width: 700px;
            max-width: 1000px;
            gap: 2%;

            @include breakpoint("Tablet-M") {
                @include flexx(column, center, flex-start);
                min-width: 300px;
                gap: 25px;
            }

            .working-item {
                @include flex(column, center);
                gap: 20px;

                @include breakpoint("Tablet-M") {
                    @include flex-between(row);
                }

                img {
                    width: 150px;

                    @include breakpoint("Tablet-M") {
                        width: 50px;
                        height: 50px;
                    }
                }

                .info {
                    font-size: 25px;
                    text-align: center;

                    @include breakpoint("Tablet-M") {
                        text-align: start;
                    }
                }
            }
        }
    }


    .divider {
        width: 90%;
        height: 1px;
        background: rgba(255, 255, 255, 0.459);

        @include breakpoint("Phone-L") {
            display: none;
        }
    }


    // Contact Container ------------ //
    .container-bottom {
        width: 90%;
        height: 50%;
        @include flex-between(row);

        @include breakpoint("Tablet-M") {
            @include flex(column, flex-start);
        }

        @include breakpoint("Phone-L") {
            display: none;
        }


        // Form Container //
        .cont-form {
            width: 50%;
            height: 100%;
            padding: 1%;
            @include flexx(column, center, flex-start);
            color: white;

            @include breakpoint("Tablet-M") {
                width: 100%;
                @include flex(column, center);
            }

            form {
                width: 70%;
                @include flex(column, center);

                @include breakpoint("Tablet-M") {
                    width: 90%;
                    @include flex(column, center);
                }



                textarea {
                    width: 100%;
                    height: auto;
                    height: 60px;
                    max-height: 300px;
                    background: none;
                    margin-top: 3%;
                    border: none;
                    border: solid white 1px;
                    outline: none;
                    resize: none;
                    color: white;
                    padding: 1.5%;

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.751);
                    }
                }

                .email-phone_container {
                    width: 100%;
                    @include flex-between(center)
                }

                .input {
                    margin-top: 3%;
                    padding: 1%;
                    width: 100%;
                    height: 50px;
                    border: none;
                    border: solid white 1px;
                    background: none;
                    outline: none;
                    color: white;

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.751);
                    }
                }

                .input-secondary {
                    width: 48%;
                }

                .submit {
                    margin-top: 3%;
                    border: solid white 1px;
                    background: none;
                    outline: none;
                    color: white;
                    padding: 1.2% 7%;
                    font-size: 20px;
                    transition: 0.2s;
                    align-self: flex-start;

                    @include breakpoint("Tablet-M") {
                        padding: 2% 15%;
                        align-self: center;
                    }

                    &:hover {
                        cursor: pointer;
                        /* From https://css.glass */
                        background: rgba(255, 255, 255, 0.21);

                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                        backdrop-filter: blur(11.8px);
                        -webkit-backdrop-filter: blur(11.8px);
                        border: 1px solid rgba(255, 255, 255, 0.3);
                    }
                }

            }

            .success-form {
                background: white;
                color: black;
                text-align: center;
                border-radius: 10px;
                padding: 10px;
                margin-top: 10px;
                position: absolute;
                opacity: 0.7;
                width: 20%;
                font-size: 15px;
                // transform: translateY(-15%);
                bottom: 235px;
                transform: translateX(25%);
                // align-self: flex-end;
                @include flex(column, center);

                @include breakpoint("Tablet-M") {
                    width: 50%;
                    transform: translateX(10%);
                }

                display: none;
            }

        }


        // Contact Information //
        .contact-information {
            width: 50%;
            height: 100%;
            @include flexx(column, center, flex-start);
            gap: 10%;
            padding: 0 5%;

            @include breakpoint("Tablet-M") {
                display: none
            }

            .contact-information__item {
                @include flex-center;
                gap: 5%;

                img {
                    width: 70px;
                    height: 70px;
                }

                .info {
                    color: white;
                    font-size: 20px;
                    white-space: nowrap;
                    width: 100%;

                    h2 {
                        line-height: 0.9;
                        margin: 0;
                        padding: 0;
                    }

                    ;

                    a {
                        color: white;
                    }
                }
            }
        }
    }

    .contact-form__btn {
        width: 80%;
        height: 80px;
        background: white;
        border: none;
        border-radius: 5px;
        font-size: 130%;
        outline: none;
        @include flex(column, center);
        display: none;
        cursor: pointer;

        @include breakpoint("Phone-L") {
            display: flex;
        }

    }
}


// Phone Icon Fixed on Bottom Right on Mobile //
.contact-mobile {
    width: 70px;
    height: 70px;
    bottom: 4%;
    right: 4%;
    border-radius: 100%;
    position: fixed;
    display: none;
    background: white;
    z-index: 9999;
    overflow: hidden;
    -webkit-box-shadow: -5px 1px 22px -7px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: -5px 1px 22px -7px rgba(0, 0, 0, 0.33);
    box-shadow: -5px 1px 22px -7px rgba(0, 0, 0, 0.33);

    @include breakpoint("Tablet-M") {
        @include flex-center;
    }

    img {
        width: 50%;
        height: 50%;
    }
}

.contact-mobile__pop-up {
    height: 100vh;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.479);
    z-index: 0;
    @include flex(column, flex-end);
    padding-bottom: 8vh;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    transition: all 0.3s;
    opacity: 0;

    .pop-up {
        width: 0%;
        height: 0px;
        background: white;
        border-radius: 9px;
        -webkit-box-shadow: -5px 1px 22px -7px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: -5px 1px 22px -7px rgba(0, 0, 0, 0.33);
        box-shadow: -5px 1px 22px -7px rgba(0, 0, 0, 0.33);
        transition: all 0.4s ease-in-out;
        opacity: 1;
        transform: translateY(80%) translateX(80%);
        @include flex-between(column);


        .call {
            width: 100%;
            @include flex-center;
            height: 50%;
            gap: 10px;
            cursor: pointer;

            img {
                width: 50px;
            }

            font-size: 25px;
        }

        a {
            .call {
                width: 100%;
                @include flex-center;
                height: 50%;
                gap: 10px;
                cursor: pointer;

                img {
                    width: 50px;
                }

                font-size: 25px;
            }
        }

        .divider {
            width: 80%;
            height: 0.5px;
            background: grey;
        }


    }
}

.pop-move {
    transform: translateY(0%) translateX(0%);
    opacity: 1;
}


.mobile-pop-up__show {
    z-index: 3000;
    opacity: 1;
}

// Mobile Contact form pop-up // ----------------------
.form-pop-up-container {

    .form-pop-up {
        transform: translateX(-0%);
        // margin-bottom: 30%;
        width: 90%;
        height: 500px;
        /* From https://css.glass */
        background: rgba(255, 132, 0, 0.83);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12.3px);
        -webkit-backdrop-filter: blur(12.3px);
        border: 1px solid rgba(255, 132, 0, 1);
        @include flex(column, center);

        // Form Container //
        .cont-form {
            width: 100%;
            height: 100%;
            padding: 1%;
            @include flexx(column, center, flex-start);
            color: white;

            @include breakpoint("Tablet-M") {
                width: 100%;
                @include flex(column, center);
            }

            h3 {
                text-align: center;
                margin: 0;
                font-size: 30px;
            }

            form {
                width: 70%;
                @include flex(column, center);

                @include breakpoint("Tablet-M") {
                    width: 90%;
                    @include flex(column, center);
                }



                textarea {
                    width: 100%;
                    height: auto;
                    height: 100px;
                    max-height: 300px;
                    background: none;
                    margin-top: 10px;
                    border: none;
                    border: solid white 1px;
                    outline: none;
                    resize: none;
                    color: white;
                    padding: 2% 3%;
                    transition: all 0.2s;

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.751);
                    }

                    &:focus {
                        width: 105%;
                        border: solid white 2px;
                    }
                }

                .email-phone_container {
                    width: 100%;
                    @include flex-between(center)
                }

                .input {
                    margin-top: 10%;
                    padding: 1%;
                    width: 100%;
                    height: 50px;
                    border: none;
                    border: solid white 1px;
                    background: none;
                    outline: none;
                    color: white;
                    padding: 2% 3%;
                    transition: all 0.2s;

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.751);
                    }

                    &:focus {
                        width: 105%;
                        border: solid white 2px;
                    }
                }

                .input-secondary {
                    width: 48%;
                    margin-top: 10px;
                }

                .submit {
                    width: 80%;
                    height: 50px;
                    margin-top: 15px;
                    border: solid white 1px;
                    background: none;
                    outline: none;
                    color: $orange;
                    padding: 1.2% 7%;
                    font-size: 20px;
                    transition: 0.2s;
                    align-self: flex-start;
                    /* From https://css.glass */
                    background: white;

                    @include breakpoint("Tablet-M") {
                        padding: 2% 15%;
                        align-self: center;
                    }

                }

            }

        }

    }
}

.input:focus .form-pop-up {
    margin-bottom: 0;
}


// Pop-up submitted form // ----------------------
.pop-up-submitted-form {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;

    .pop-up-submitted-form-opaticy-layer {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pop-up-submitted-form-content{
        background: white;
        border-radius: 10px;
        font-size: medium;
        text-align: center;
        font-size: 20px;
        padding: 60px;
        opacity: 1;
        position: relative;

        .pop-up-submitted-form-close{
            position: absolute;
            top: -10px;
            right: -10px;
            transform: rotate(45deg);
            font-size: 35px;
            border-radius: 100%;
            background: gray;
            padding: 2px 11px;
            color: white;
            cursor: pointer;
            box-shadow: 1px 1px 40px black;
        }

        @include breakpoint("Tablet-M") {
            @include flex-around(column);
            width: 80%;
        }
    }
}

.required-message {
    color:white;
    justify-content: start;
    align-items: center;
    padding: 10px 5px;
    margin: 10px 0px;
    align-self: flex-start;
    display: none;

    span {
        color: rgb(177, 44, 44);
    }
}