@use '../../abstracts/' as *;


.contact-us {
    width: 100%;
    height: 100vh;
    z-index: 0;
    position: sticky;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    @include flex(column,center);

    // Succes Achived Needed Section --------- //
    .working {
        width: 100%;
        height: 60%;        
        @include flex(column, center);
        gap: 5%;
        color: white;

        h1 {
            font-size: 50px;
            text-align: center
        }

        .working-container {
            @include flex-between(row);
            width: 50%;
            min-width: 700px;
            max-width: 1000px;
            gap: 2%;

            .working-item {
                @include flex(column,center);
                gap: 20px;

                img {
                    @include flex(column, center);
                    width: 150px;
                }

                .info {
                    font-size: 25px;
                    text-align: center;
                }
            }
        }
    }


    .divider {
        width: 90%;
        height: 1px;
        background: rgba(255, 255, 255, 0.459);
    }


    // Contact Container ------------ //
    .container-bottom {
        width: 90%;
        height: 40%;
        @include flex-between(row);


        // Form Container //
        .cont-form {
            width: 50%;
            height: 100%;
            padding: 1%;
            @include flexx(column, center, flex-start);
            color: white;

            form {
                width: 70%;
                // @include flex(column,center);

                textarea {
                    width: 100%;
                    height: auto;
                    max-height: 300px;
                    background: none;
                    border: none;
                    border-bottom: solid white 1px;
                    outline: none;
                    resize: none;
                    color: white;
                }

                .input {
                    margin-top: 3%;
                    padding: 1%;
                    width: 100%;
                    height: 50px;
                    border: none;
                    border: solid white 1px;
                    background: none;
                    outline: none;
                    color: white;
                }

                .submit {
                    margin-top: 3%;
                    border: solid white 1px;
                    background: none;
                    outline: none;
                    color: white;
                    padding: 1.2% 7%;
                    font-size: 20px;
                    transition: 0.2s;

                    &:hover {
                        cursor: pointer;
                        /* From https://css.glass */
                        background: rgba(255, 255, 255, 0.21);
                        
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                        backdrop-filter: blur(11.8px);
                        -webkit-backdrop-filter: blur(11.8px);
                        border: 1px solid rgba(255, 255, 255, 0.3);
                    }
                }




            }

        }


        // Contact Information //
        .contact-information {
            width: 50%;
            height: 100%;
            @include flexx(column, center, flex-start);
            gap: 10%;
            padding: 0 5%;

            .contact-information__item {
                @include flex-center;
                gap: 5%;
                img {
                    width: 70px;
                }

                .info {
                    color: white;
                    font-size: 20px;
                    h2 {
                        line-height: 0.9;
                        margin: 0;
                        padding: 0;
                    }

                    
                }
            }
        }
    }
}