@use '../../abstracts/colors' as c;
@use '../../abstracts/mixins' as m;
@use '../../abstracts/breakpoints' as b;


header {
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 0;

    // Temporal Titkle //
    h1 {
        position: absolute;
        color: white;
    }


    // Temporal Img //
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .home-slider-container {
        width: 100vw;
        height: 100%;
        background-color: aqua;
        position: relative;

    }

    .home-slider-container-slides {
        width: 400vw;
        height: 100%;
        background-color: gray;
        overflow-x: hidden;
        display: flex;
        flex-direction: row;
        transition: all 0.7s ease-in-out;
        // z-index: 1000000000000000000000000000000000000000;
    }

    // Individual Slide //
    .home-slider-container-slides-slide {
        width: 100vw;
        height: 100%;
        transition: all 0.5s;
        // z-index: 100000000000000000000000000000;
        
        @include m.flex-center;
        position: relative;

        img {
            display: none;
            @include m.img-cover;
            @include b.breakpoint("Phone-L"){
                display: block;
            }
        }

        video{
            @include b.breakpoint("Phone-L"){
                display: none;
            }
        }

        .front-cover {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.425);
            position: absolute;
            @include m.flexx(column, flex-end, flex-start);
            padding: 7% 4%;
            // z-index: 10000000000000000000;

            @include b.breakpoint("Tablet-M"){
                padding: 25% 5%;
            }
            
            .item-info {
                color: white;
                width: 50%;
                font-size: 20px;
                // z-index: 100000000000;

                @include b.breakpoint("Tablet-M"){
                    width: 90%;
                }

                h1 {
                    line-height: 1.3;
                    margin: 0;
                    position: static;
                    @include b.breakpoint("Phone-L"){
                        font-size: 28px;
                    }
                }

                h2{
                    @include b.breakpoint("Phone-L"){
                        font-size: 22px;
                    }
                }

                
                
                p {
                    margin: 0;
                    @include b.breakpoint("Phone-L"){
                        font-size: 18px;
                    }

                }

                a {
                    color: white;
                    font-weight: 500;
                    font-size: 25px;
                    margin: 0;
                }
            }
        }
    }

    .home-slider-container-arrow {
        width: 30px;
        height: 30px;
        opacity: 0.5;
        transition: all 0.2s;

        &:hover {
            opacity: 1;
            transform: scale(1.5);
            cursor: pointer;
        }
        

    }

    #slide-1 {
        background-color: blue;
    }

    #slide-2 {
        background-color: orange;
    }

    #slide-3 {
        background-color: red;
    }

    #slide-4 {
        background-color: yellow;
    }

    /* buttons styles */
    .home-slider-container-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 3%;
        gap: 10px;
        height: 100%;
        width: 100%;
        transform: translateY(-100%);
        position: absolute;
        // z-index: 10;
    }

    .home-slider-container-buttons-directions {
        display: flex;
        width: 100%;
        height: 90%;
        padding: 0 3%;
        padding-top: 6%;
        justify-content: space-between;
        align-items: center;
        z-index: 300;
    }

  

    #ra {
        transform: rotate(180deg);

        &:hover {
            opacity: 1;
            transform: scale(1.5) rotate(180deg);
            cursor: pointer;
        }
    }

    .home-slider-container-selectors {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-self: flex-end;
        padding-right: 3%;
    }

    .home-slider-container-selectors-selector {
        height: 5px;
        width: 50px;
        background-color: rgba(255, 255, 255, 0.426);
        border-radius: 2px;
    }
    .selector-pressed{
        background-color: rgba(255, 255, 255, 0.885);
    }
}

.header-top {
    width: 100%;
    height: 100vh;
    background-color: teal;
}