@use '../../abstracts/colors' as c;
@use '../../abstracts/mixins' as m;

.home__about-us {
    width: 100%;
    height: 100vh;
    background: c.$t3;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}