@use '../../abstracts/' as *;

.quick-links {
    width: 100%;
    height: 80vh;
    @include flex-between(row);
    background: rgb(255, 114, 114);
    z-index: 1;
    position: relative;
    overflow: hidden;
    color: white;

    .filter {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.185);
        position: absolute;
        opacity: 0;
        transition: 0.3s;
    }


    .quick-links__services {
        height: 100%;
        width: 35%;
        overflow: hidden;
        @include flex-center;
        
      

        &:hover .filter {
            opacity: 1;
        }

        img {
            @include img-cover;
        }

        h1 {
            bottom: 2%;
            left: 1%;
            position: absolute;
            color: white;
        }
    }



    .quick-links__right {
        height: 100%;
        width: 65%;
        @include flex(column, center);
        color: white;
        

        .quick-links__right-item {
            width: 100%;
            height: 50%;
            position: relative;
            overflow: hidden;
            @include flex-center;
            color: white;

            &:hover .filter {
                opacity: 1;
            }

            img {
                @include img-cover;
            }

            h1 {
             bottom: 0;
             left: 1%;
                position: absolute;
            }
        }
    }
}