@use '../../abstracts/' as *;

.quick-links {
    width: 100%;
    height: 80vh;
    @include flex-between(row);
    background: rgb(255, 114, 114);
    z-index: 1;
    position: relative;
    overflow: hidden;
    color: white;
    -webkit-box-shadow: 0px 13px 11px -7px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 13px 11px -7px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 13px 11px -7px rgba(0, 0, 0, 0.29);

    @include breakpoint("Tablet-M") {
        @include flex(column, center);
    }

    .filter {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.185);
        position: absolute;
        opacity: 0;
        transition: 0.3s;
    }


    .quick-links__services {
        height: 100%;
        width: 35%;
        overflow: hidden;
        @include flex-center;
        position: relative;

        @include breakpoint("Tablet-M") {
            height: 35%;
            width: 100%;
        }



        &:hover .filter {
            opacity: 1;
        }

        img {
            @include img-cover;
        }

        h1 {
            bottom: 0;
            left: 1%;
            position: absolute;
            color: white;
        }
    }



    .quick-links__right {
        height: 100%;
        width: 65%;
        @include flex(column, center);
        color: white;

        @include breakpoint("Tablet-M") {
            height: 65%;
            width: 100%;
        }


        .quick-links__right-item {
            width: 100%;
            height: 50%;
            position: relative;
            overflow: hidden;
            @include flex-center;
            color: white;

            &:hover .filter {
                opacity: 1;
            }

            img {
                @include img-cover;
            }

            h1 {
                bottom: 0;
                left: 1%;
                position: absolute;
            }
        }
    }
}

.css-animated {
    &:hover {
      figure {
        animation: cyclePhotos 2s linear infinite;
      }
    }


    figure {

      &:nth-child(1) {
        opacity: 1;
      }
      &:nth-child(2) {
        animation-delay: 0.5s;
      }
      &:nth-child(3) {
        animation-delay: 1s;
      }
      &:nth-child(4) {
        animation-delay: 1.5s;
      }
    }
  }
  @keyframes cyclePhotos {
    0%,
    25% {
      opacity: 1;
    }
    26%,
    100% {
      opacity: 0;
    }
  }
   
  .image-deck {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    figure {
      opacity: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }