@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;

nav {
    position: fixed;
    width: 100%;
    display: flex;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.38699229691876746) 0%, rgba(0, 0, 0, 0) 89%);
    padding: 0 0.5vw;
    padding-right: 2vw;
    @include m.flex-between(row);
    transition: all 0.3s ease-in-out;
    z-index: 9999;

    img {
        width: 350px;
        transition: all 0.3s;
        margin-top: 1%;
    }

    .nav-right {
        width: 600px;
        display: flex;
        @include m.flexx(row, flex-end, center);
        gap: 30px;
        transition: all 0.3s ease-in-out;

        .nav-links {
            display: flex;
            gap: 15px;

            li {
                list-style-type: none;
                transition: all 0.2s ;

                &:hover {
                    // transform: translateY(7%) scale(1.03);
                }

                a {
                    color: white;
                }
            }
        }

        .social {
            display: flex;
            gap: 10px;
        }
    }
}


// scroll stuff // ---------------- 
.scroll-down {
    nav {
        // transform: translateY(-100%);
        opacity: 0;

        img {
            transform: scale(0.7) translateX(-120%);
            margin-top: -1%;
         }

         .nav-right {
            margin-top: -1%;
            transform: translateX(100%);
         }
    }

}

.scroll-up {
    nav {
        opacity: 0.3;
        filter: drop-shadow(0 -10px 20px rgb(61, 61, 61));

        img {
           transform: scale(0.7) translateX(-20%);
           margin-top: 0;
        }

        .nav-right {
            margin-top: 0;
         }

        &:hover {
            opacity: 1;
        }
    }


}
// --------------------------------